<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../webjars/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="/bootstrap-select.min.css" rel="stylesheet"/>
    <title></title>
</head>
<body>

<ul>
    <li>
        <button id="button_register_client" class="btn btn-primary">Register Client</button>
    </li>
</ul>

</body>
</html>
<script type="text/javascript" th:src="@{/js/ajax/jsonUtils.js}"></script>
<script type="text/javascript" th:src="@{/js/ajax/ajaxRequest.js}"></script>
<script type="text/javascript" th:src="@{/js/home/home.js}"></script>
<script src="/jquery.min.js"></script>
<script src="../webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
