<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <script src="/jquery.min.js"></script>
    <script src="../webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="/public.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" th:src="@{/js/common/init.js}"></script>
    <title>Home</title>
</head>
<body onload="getToken()">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 vertical without-padding">
            <button id="button_client_management" class="btn btn-secondary fill-content">
                <span th:text="#{menu.client-management}"/>
            </button>
        </div>
        <div id="content_page" class="col-lg-10 main-content-padding"></div>
    </div>
</div>
</body>

<script type="text/javascript" th:src="@{/js/common/commonFunction.js}"></script>
<script type="text/javascript" th:src="@{/js/ajax/jsonUtils.js}"></script>
<script type="text/javascript" th:src="@{/js/ajax/ajaxRequest.js}"></script>
<script type="text/javascript" th:src="@{/js/grid/grid.js}"></script>

<script type="text/javascript" th:src="@{/js/client/clientGrid.js}"></script>
<script type="text/javascript" th:src="@{/js/client/client.js}"></script>

<script type="text/javascript" th:src="@{/js/home/home.js}"></script>
</body>
</html>