<div>
    <div class="col-lg-1 without-padding">
        <button id="button_add" class="btn btn-primary fill-content" type="button" onclick="openDialog()">
            <span th:text="#{form.button.add}"/>
        </button>
    </div>
    <div class="container-fluid without-padding bg-light">
        <table id="client_grid" class="table-hover table-bordered" width="100%">
            <thead>
            <tr>
                <th>Client Name</th>
                <th>Redirect URL</th>
                <th>Type</th>
                <th colspan="3">Action</th>
            </tr>
            </thead>
            <tbody id="client_grid_body"></tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="dialog_client_form" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-light d-flex justify-content-center">
                <h3><span th:text="#{client.register.title}"/></h3>
            </div>

            <div class="modal-body dialog-padding">
                <form role="form">
                    <input id="client_id" name="client_id" type="hidden" value=""/>
                    <div class="input-group form-element-padding">
                        <div class="input-group-append col-lg-4 d-flex justify-content-end fill-content">
                            <span class="label" th:text="#{client.register.form.field.name}"/>
                        </div>
                        <input id="client_name" name="client_name" type="text" class="form-control"/>
                    </div>
                    <div class="input-group form-element-padding">
                        <div class="input-group-append col-lg-4 d-flex justify-content-end fill-content">
                            <span class="label" th:text="#{client.register.form.field.redirect-url}"/>
                        </div>
                        <input id="redirect_uri" name="redirect_uri" type="text" class="form-control"/>
                    </div>
                    <div class="input-group form-element-padding">
                        <div class="input-group-append col-lg-4 d-flex justify-content-end fill-content">
                            <span class="label" th:text="#{client.register.form.field.type}"/>
                        </div>
                        <div class="col-lg-8 without-padding fill-content">
                            <select id="client_type" name="client_type" class="form-control">
                                <option value="PUBLIC">Public</option>
                                <option value="CONFIDENTIAL">Confidential</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group form-element-padding">
                        <div class="input-group-append col-lg-4 d-flex justify-content-end fill-content">
                            <span class="label" th:text="#{client.register.form.field.scope}"/>
                        </div>
                        <div class="col-lg-8 without-padding fill-content">
                            <select id="client_scope" name="client_scope" class="form-control" onchange="selectScope(this);">
                                <option value="READ">Read</option>
                                <option value="WRITE">Write</option>
                            </select>
                        </div>
                    </div>

                    <div class="input-group form-element-padding">
                        <div class="input-group-append col-lg-4 d-flex justify-content-end fill-content"></div>
                        <div class="col-lg-8 without-padding fill-content">
                            <div id="scope_elements"></div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer bg-light">
                <button id="button_save" class="btn btn-primary" type="button" onclick="save()">
                    <span th:text="#{form.button.register}"/>
                </button>
                <button id="button_cancel" class="btn btn-danger" type="button" onclick="closeDialog()">
                    <span th:text="#{form.button.cancel}"/>
                </button>
            </div>
        </div>
    </div>
</div>
